<div class="wsk-card paper resting slide-top" ng-cloak>
    <div class="product-media">
        <a href="/product/{{item.code}}">
            <div class="product-img ar_1-1" md-ink-ripple ng-cloak style="background-image: url({{item.files[item.thumb]}});"></div>
            <div class="hoverlay"></div>
        </a>
        <div class="product-media-actions">
            <div class="scrim top"></div>
            <a aria-label="Editeaza produs" class="md-icon-button add-to-favourites" md-button ng-href="/admin/edit/{{item.code}}" ng-if="$root.userData.admin && $root.logged">
                <md-tooltip>
                    Editeaza produs
                </md-tooltip>
                <md-icon md-svg-src="assets/icons/ic_create_white_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </a>
        </div>
        <div class="promo-badge" ng-show="item.is_promo">
            <md-tooltip>
                Produs promo
            </md-tooltip>
            <md-icon md-svg-src="assets/icons/promo_badge.svg" style="width: 48px; height: 48px;"></md-icon>
        </div>
    </div>
    <div class="product-info">
        <div class="info-container">
            <h2 class="product-title single-line">{{item.name}}</h2>
            <div class="subtitle-container">
                <p class="product-subtitle single-line secondary-text-color">{{item.subname}}</p>
            </div>
            <div class="excerpt-container">
                <p class="product-excerpt secondary-text-color" wsk-lines-limit="2">{{item.excerpt}}</p>
            </div>
            <div aria-hidden="true" class="description-container is-hidden">
                <p>{{item.excerpt}}</p>
                <p>{{item.description}}</p>
            </div>
        </div>
        <div class="card-menu">
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Deschide meniu card" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-svg-src="assets/icons/ic_more_vert_24px.svg"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
<!-- <md-button aria-label="Adauga in cos" ng-click="addToCart(item)"> -->
                        <md-button aria-label="Adauga in cos" ng-click="setOrder()">
                            <div layout="row">
                                <!-- <md-icon class="md-icon" style="margin: auto 0;">
                                    <i class="material-icons">&#xE854;</i>
                                </md-icon> -->
                                <p flex style="margin-left:8px;">Add to cart</p>
                            </div>
                        </wsk-addtocart>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="Adauga la favorite" ng-click="postFav(item.code, item.favourite)">
                        <div layout="row">
                            <!-- <md-icon class="md-icon" ng-if="!item.favourite" style="margin: auto 0;">
                                <i class="material-icons">&#xE87E;</i>
                            </md-icon>
                            <md-icon class="md-icon" ng-if="item.favourite" style="margin: auto 0">
                                <i class="material-icons">&#xE87D;</i>
                            </md-icon> -->
                            <p flex style="margin-left:8px;">Add to favourites</p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
<div class="product-actions">
    <div class="stars-container">
        <md-icon class="tiny-star" md-svg-src="assets/icons/ic_star_tiny_14px.svg" ng-class="{'fill' : count <= item.rating}" ng-repeat="count in [1,2,3,4,5]"></md-icon>
    </div>
    <div class="price-container" ng-class="{promo : item.is_promo}">
        <div ng-cloak class="promo-price fade" ng-show="item.is_promo">
            {{item.promo_price | number : 2  | currency : "€"}}</div>
        <div ng-cloak>
            <span ng-cloak class="price">{{item.price | number : 2 | currency : "€"}}</span>
        </div>
    </div>
</div>
<div class="product-set-order" ng-class="{on : showSetOrder}"></div>
<form class="product-order-form" name="orderForm" ng-class="{on : showSetOrder}" ng-submit="orderProduct(item, order)" novalidate>
    <md-icon class="discard-order-button" md-ink-ripple md-svg-src="assets/icons/ic_close_24px.svg" ng-click="discardOrder()"></md-icon>
<!-- <span>Configureaza-ti comanda</span> -->
    <div class="input-wrapper">
        <div class="item-count-wrapper">
            <md-input-container class="item-count">
                <label>Cantitate</label>
                <input max="{{order.size.count}}" min="1" name="itemCount" ng-model="order.quantity" required step="any" type="number" value="1">
                <div ng-messages="orderForm.itemCount.$error" ng-show="orderForm.itemCount.$invalid && orderForm.itemCount.$dirty">
                    <div ng-message="number" style="width:500px">Doar cifrele sunt permise</div>
                    <div ng-message="min" style="width:500px">Cantitatea minima este 1</div>
                    <div ng-message="max" style="width:500px">Maxim
                        {{order.size.count}}
                        pt. marimea asta</div>
                    <div ng-message="required" style="width:100%">Introdu o cantitate</div>
                </div>
            </md-input-container>
        </div>
        <div class="item-size-wrapper">
            <md-input-container class="item-size" ng-show="item.sizes.length > 1 || item.sizes[0].name">
                <label>Marime</label>
                <md-select aria-label="Size select" ng-model="order.size" ng-required="{{item.sizes.length > 1  || item.sizes[0].name}}">
                    <md-option ng-repeat="size in item.sizes" ng-value="size">{{size.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
<!-- <span ng-show="item.sizes.length > 1" show-gt-sm></span> -->
        <span ng-show="item.sizes.length > 1" show-gt-sm></span>
        <button class="dak-button" md-ink-ripple md-theme="brand" ng-disabled="orderForm.$invalid" type="submit">
            <div class="icon-bg"></div>
            <md-icon md-svg-src="assets/icons/ic_playlist_add_24px.svg" style="position: relative; margin-right: 16px; color: #fff"></md-icon>
            Adauga in lista
            <div class="button-border"></div>
        </button>
        <div class="stock-info">
            <md-divider></md-divider>
            <div ng-cloak ng-show="!order.size">
                <md-icon md-svg-src="assets/icons/ic_help_black_24px.svg" style="width:16px; height:16px;"></md-icon>
                <span>Alege o marime</span>
            </div>
            <div ng-cloak ng-show="order.size.count">
                <md-icon md-svg-src="assets/icons/ic_check_circle_green_24px.svg" style="width:16px; height:16px;"></md-icon>
                <span>In stoc. • ({{order.size.count}})</span>
            </div>
            <div ng-cloak ng-show="order.size.count == 0">
                <md-icon md-svg-src="assets/icons/ic_warning_red_24px.svg" style="width:16px; height:16px;"></md-icon>
                <span>Stoc furnizor.</span>
            </div>
        </div>
    </div>
</form>
</div>
