.wsk-card {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    .product-media {

        // padding: 16px;
        position: relative;

        // overflow: hidden;
        .product-img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .hoverlay {
            pointer-events: none;

            // position: absolute;
            overflow: hidden;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
            opacity: 0;
        }
        .product-media-actions {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .scrim {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 36px;
                transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                &.top {
                    top: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                }
                &.bottom {
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
                }
            }
            .add-to-favourites,
            .admin-edit,
             {
                float: right;
            }
        }
    }
    &:hover {
        .hoverlay {
            background-color: rgba(0,0,0,.12);
            opacity: 1;
        }
        .product-media-actions {
            .scrim {
                opacity: 1;
            }
        }
        .card-menu {
            opacity: 1;
            pointer-events: all;
        }
    }
    .info-container,
    .card-menu {
        float: left;
    }
    .card-menu {
        position: absolute;
        right: 0;
        opacity: 0;
        pointer-events: none;
        will-change: opacity;
        transition: opacity 0.28s ease-in-out;
        .md-menu-content {
            padding: 0;
        }
        .md-menu {
            padding: 0;
        }
        md-menu-item {
            .md-button {
                border-radius: 0;
                margin: auto 0;
                font-size: 15px;
                text-transform: none;
                font-weight: 400;
                text-align: start;
                height: 100%;
                padding-left: 16px;
                padding-right: 16px;
                display: inline-block;
                align-items: baseline;
                align-content: left;
                width: 100%;
            }
        }
        .md-button {
            width: 36px;
            height: 36px;
            line-height: 36px;
            min-width: 0;
            min-height: 0;
            margin: 0;
            padding: 0;
        }
    }
    .product-info {
        min-height: 44px;
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        padding: 8px 16px 0;
        position: relative;
        .product-title {
            display: block;
            font-size: 16px;
            line-height: 18px;
            max-width: 132px;
            max-height: 36px;
            min-height: 18px;
            overflow: hidden;
            text-decoration: none;
            position: relative;
            white-space: nowrap;
            font-weight: 500;
        }
        .product-subtitle {
            color: #aaa;
            display: block;
            font-size: 13px;
            line-height: 16px;
            margin: 1px 0;
            max-width: 132px;
            overflow: hidden;
            white-space: nowrap;
        }
        .excerpt-container {
            display: none;
            color: #aaa;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.1;
            margin: 5px 0;
        }
    }
    .product-actions {
        box-sizing: border-box;
        background: #fff;
        bottom: 0;
        display: block;
        padding: 0 16px;
        width: 100%;
        overflow: hidden;
        .stars-container,
        .price-container {
            height: 14px;
            width: 100%;
        }
        .stars-container {
            position: relative;
            width: 70px;
            height: 14px;
            margin-top: 5px;
            float: left;
            clear: both;
            font-size: 0;
            overflow: hidden;
            .tiny-star {
                width: 14px;
                height: 14px;
                color: #bdbdbd;
                fill: #bdbdbd;
                float: left;
                background-size: cover;
                background-position: center;
                &.fill {
                    color: #707070;
                    fill: #707070;
                }
            }
            .current-rating {
                left: 0;
                right: 0;
                width: auto;
                height: 100%;
                background-color: rgba(255,255,255,.7);
                position: absolute;
                display: block;
            }
        }
        .price-container {
            color: #e12a2a;
            float: left;
            position: relative;
            margin-bottom: 8px;
            .price,
            .promo-price,
            .old-price,
            .add-to-cart {
                bottom: 0;
                background: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                text-transform: uppercase;
                font-weight: normal;
                float: left;

                // text-decoration: underline;
            }
            .price {
                transition: all 0.28s ease;
            }
            &.promo {
                .price {
                    color: #aaa;
                    text-decoration: line-through;
                    padding-left: 8px;
                }
                .promo-price {

                }
            }
        }
    }
    .product-set-order {
        position: absolute;
        width: 100%;
        box-sizing: initial;
        padding-top: 100%;
        border-radius: 50%;
        top: 50%;
        margin: auto;
        left: 0;
        right: 0;
        background-color: #fff;
        transform: translateY(-50%) scale(0);
        transition: transform 0.28s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &.on {
            transform: translateY(-50%) scale(2);
        }
    }
    .product-order-form {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 16px;
        opacity: 0;
        user-select: none;
        pointer-events: none;
        transition: opacity 0.18s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &.on {
            pointer-events: all;
            opacity: 1;
            transition: opacity 0.48s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .input-wrapper {
            max-height: 200px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 16px;
            right: 16px;
        }
        .item-size-wrapper {

        }
        .item-count-wrapper {

        }
        .discard-order-button {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
            color: rgba(0,0,0,.54);
            margin: 0;
            z-index: 1;
            &:hover {
                color: rgba(0,0,0,.87);
            }
        }
        .heading-subtitle {
            left: 0;
            width: 100%;
            text-align: center;
        }
        .dak-button {
            width: 100%;
            bottom: 24px;
            left: 0;
            position: absolute;
        }
        .stock-info {
            position: absolute;
            bottom: 0;
            color: #737373;
            cursor: help;
            user-select: none;
            white-space: nowrap;
            font-family: Roboto, UILanguageFont, Arial, sans-serif;
            font-size: 13px;
            height: 16px;
            font-weight: 300;
            display: block;
            span {
                line-height: 12px;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
.promo-badge {
    position: absolute;
    top: 0;
    left: 0;
}
@media #{$small-and-up} {
    .cluster-heading {
        padding: 0 24px;
        .cluster-heading-title {
            font-size: 28px;
        }
    }
}
@media #{$medium-and-up} {
    .wsk-card {
        .product-actions {
            .stars-container {
                clear: none;
            }
            .price-container {
                float: right;
                margin-top: 5px;
            }
        }
    }
}

// Card tiles
.wsk-card {
    &.wsk-tile {
        .product-media {
            padding: 0 60% 0 0;
            .product-media-actions {

                // pointer-events: none;
                .scrim {
                    display: none;
                }
                .add-to-favourites {

                    // display: none;
                }
            }
            .hoverlay {
                right: 60%;
                width: auto;
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                position: absolute;
            }
            &>a {
                position: relative;
            }
        }
        .product-info {
            position: absolute;
            top: 0;
            left: 40%;
            right: 0;
            width: auto;
            .excerpt-container {
                display: block;
                p {
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 14px;
                    color: rgba(0,0,0,.87);
                    height: 28px;
                    overflow: hidden;
                }
            }
        }
        .product-actions {
            position: absolute;
            right: 0;
            left: 40%;
            width: auto;
            i {
                color: rgba(0,0,0,.87);
            }
        }
        .product-order {
            display: none;
            visibility: hidden;
            user-select: none;
            pointer-events: none;
        }
        .product-order-form {
            .input-wrapper {
                max-height: 128px;
                top: 0;
                left: 16px;
                right: 16px;
                bottom: 0;
                margin: auto;
                position: absolute;
            }
            .item-size-wrapper,
            .item-count-wrapper {
                display: inline-block;
                width: 50%;
                vertical-align: bottom;
            }
            .item-count-wrapper {
                width: 30%;
            }
            .item-size-wrapper {
                margin-left: 8px;
            }
            .dak-button {
                bottom: 20px;
            }
        }
    }
}
.md-inline-list-icon-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    height: 24px;
    vertical-align: middle;
}
.md-grid-item-content {
    height: 96px;
}
.md-list-item-content {
    margin: 0;
    width: 100%;
}
.md-grid-item-content md-icon {
    height: 48px;
    width: 48px;
}
.md-grid-text {
    padding-bottom: 5px;
}
