<!doctype html>
<html ng-app="daksports">

<head>
    <meta charset="utf-8">
    <title>daksports</title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Material icon font -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <link rel="stylesheet" href="styles/vendor.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-controller="DakCtrl as dak">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <div id="frontpage" md-theme="brand-black">
        <header role="banner" id="main-header" ng-controller="AppBarCtrl" ng-include="'app/components/appbar/appbar.tpl.html'"></header>
        <div class="frontpage-content">
            <div drawer id="sidebar" class="md-whiteframe-z2" role="navigation" aria-hidden="false" class="locked-open" ng-class="{open : dak.sidebarOpen}">
                <md-toolbar class="dak-appbar nav-bar" md-theme="light">
                    <div class="appbar-left" flex>
                        <div class="slide-left" ng-show="dak.sidebarOpen" layout="row" layout-align="start center">
                            <md-button aria-label="Toggle Menu" class="md-icon-button l-left" ng-click="dak.toggleSidebar(); dak.hideSearchBar()">
                                <md-icon md-svg-src="assets/icons/ic_menu_24px.svg"></md-icon>
                            </md-button>
                            <h1 class="appbar-logo-box" md-ink-ripple flex layout="row" layout-align="start center">
                                   <a href="/" class="logo-wrapper" style="background-image: url({{dak.LOGOS.sidenav_logo}})" flex></a>
                               </h1>
                        </div>
                    </div>
                </md-toolbar>
                <nav id="nav" class="l-offset-nav" ng-include="'app/components/navigation/navigation.tpl.html'" ng-controller="NavCtrl as nav" layout="column"></nav>
            </div>
            <main id="main" class="l-offset-nav" ng-class="{narrow : dak.sidebarOpen, waterfall : !dakScroll.scrollTop}" layout="column">
                <dak-hero></dak-hero>
                <div id="page" dak-scroll ng-class="{min : boolChangeClass}" ui-view autoscroll="true" flex></div>
                <div class="drop-shadow"></div>
            </main>
        </div>
    </div>

    <script src="scripts/vendor.js"></script>

    <script src="scripts/app.js"></script>

</body>

</html>