$brand-primary: #212121 !default;
$brand-primary-accent: color("red", "accent-4") !default;
$brand-secondary: #E12A2A !default;
$brand-secondary-accent: color("grey", "lighten-1") !default;
$brand-third: color("grey", "base") !default;
$brand-third-accent: color("grey", "lighten-1") !default;

.brand-bg{
    background-color: $brand-primary;
    &.dark{
        *{
            color: #fff;
            &.no-brand{
                *{
                    color: initial;
                }
            }
        }
    }
    &.light{
        *{
            color: rgba(0,0,0,.87);
            &.no-brand{
                *{
                    color: initial;
                }
            }
        }
    }

}
md-button.brand-text,
md-icon.brand-text,
.brand-text{
    color: $brand-primary;
}
