<a class="nav-item-container" md-ink-ripple href="/account/lists">
    <md-icon md-svg-src="assets/icons/ic_view_list_24px.svg"></md-icon>Liste de cumparaturi</a>
<a class="nav-item-container" md-ink-ripple href="/account/favourites">
    <md-icon md-svg-src="assets/icons/ic_favorite_24px.svg"></md-icon>Articole favorite</a>
<a class="nav-item-container" md-ink-ripple href="/account/settings">
    <md-icon md-svg-src="assets/icons/ic_rate_review_24px.svg"></md-icon>Review-urile mele</a>
<a class="nav-item-container" md-ink-ripple href="/account/settings">
    <md-icon md-svg-src="assets/icons/ic_settings_24px.svg"></md-icon>Setari cont</a>
<a class="nav-item-container" md-ink-ripple href="/admin/orders">
    <md-icon md-svg-src="assets/icons/ic_help_24px.svg"></md-icon>Contact & Feedback</a>
