<a class="nav-item-container" md-ink-ripple href="/admin/list">
    <md-icon md-svg-src="assets/icons/ic_view_list_24px.svg"></md-icon>Lista produse</a>
<a class="nav-item-container" md-ink-ripple href="/admin/add">
    <md-icon md-svg-src="assets/icons/ic_playlist_add_24px.svg"></md-icon>Adauga produs</a>
<a class="nav-item-container" md-ink-ripple href="/admin/settings">
    <md-icon md-svg-src="assets/icons/ic_settings_24px.svg"></md-icon>Setari</a>
<a class="nav-item-container" md-ink-ripple href="/admin/orders">
    <md-icon md-svg-src="assets/icons/ic_shopping_basket_24px.svg"></md-icon>Comenzi</a>