<div class="page-content c-max">
    <div class="paper resting admin-settings-card settings-card">
        <div class="header content-padding">
            <h1 class="settings-card-title">Store departments</h1>
            <div>This is where you add shop departments
                <br>
                These sit on the top level in the navbar menu</div>
        </div>
        <md-divider></md-divider>
        <div class="content content-padding">
            <div class="departments-list">
                <div class="" layout layout-align="start center" ng-repeat="dep in structure.departments">
                    <md-input-container>
                        <label for="">Name</label>
                        <input ng-model="dep.name" type="text"/>
                    </md-input-container>
                    <span flex></span>
                    <md-button class="md-icon-button hero-upload">
                        <md-icon ng-if="!dep.hero" md-svg-src="assets/icons/ic_cloud_upload_24px.svg" ng-class="{'brand-text' : dep.hero}"></md-icon>
                        <md-icon class="brand-text" ng-if="dep.hero" md-svg-src="assets/icons/ic_cloud_done_24px.svg"></md-icon>
                        <input nv-file-select type="file" uploader="uploader"/>
                    </md-button>
                    <!-- <span flex="40">{{dep.hero}}</span> -->
                    <md-button aria-label="Add department" class="md-icon-button" ng-click="addDep(newdep)" type="button">
                        <md-icon md-svg-src="assets/icons/ic_remove_circle_outline_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <!-- New department -->
            <div class="" layout layout-align="start center">
                <md-input-container>
                    <label for="">New department</label>
                    <input ng-model="newdep.name" type="text"/>
                </md-input-container>
                <span flex></span>
                <md-button class="md-icon-button hero-upload">
                    <md-icon md-svg-src="assets/icons/ic_cloud_upload_24px.svg"></md-icon>
                    <input nv-file-select type="file" uploader="uploader"/>
                </md-button>
                <!-- <span flex="40">{{newdep.hero}}</span> -->
                <md-button aria-label="Add department" class="md-icon-button" ng-click="addDep(newdep)" type="button">
                    <md-icon md-svg-src="assets/icons/ic_add_circle_outline_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>
