.dak-no-padding {
    padding: 0;
}
.dak-no-margin {
    margin: 0;
}
md-button.dak-no-margin,
.md-button.dak-no-margin {
    margin: 0;
}
.dak-no-shadow {
    box-shadow: none;
}
md-button.md-raised.dak-no-shadow,
.md-button.md-raised.dak-no-shadow {
    box-shadow: none;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        box-shadow: none;
    }
    &:active {
        box-shadow: none;
    }
}
.dak-lowercase {
    text-transform: none;
}
.dak-delayed-transition {
    transition-delay: 0.27s;
}
.dak-hoverlay {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.12);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.dak-link{
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
    &.disabled{
        pointer-events: none;
    }
}
